@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}
body{
  background-color: #0c0910;
  color : white
}

@layer utilities {
  .flex-center{
    @apply flex justify-center items-center
  }
  .flex-col-center{
    @apply flex flex-col items-center
  }
  .flex-between{
    @apply flex justify-between items-center
  }
  .flex-around-center{
    @apply flex justify-around items-center
  }
}       
